<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PVR Cinema's Application Mobile Testing And Test Suites">
    <listeners>
        <listener class-name="automation.pvr.reports.ExtentReport"/>
    </listeners>

    <test name="PVR Cinema's Application Testcases">
        <classes>
            <class name="automation.pvr.test.HomePageTest"/>
            <class name="automation.pvr.test.PassportPageTest"/>
            <class name="automation.pvr.test.MorePageTest"/>
        </classes>
    </test>
</suite>